body {
font-family: "poppins", sans-serif
margin : 0;
backround-color
}
navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: lemonchiffon;
padding: 15px 30px;
}
.logo {
    color: rgb(252, 201, 0);
    font-size: 1.sem;
margin: 0;
}
.nav-link {
    list-style: none;
    display: flex;
    gap: 20px;

}
.nav-link a {
    color: bisque;
    text-decoration: none;
    font-weight: bold;
}
.nav-link a:hover {
    color: rgb(235, 200, 240);
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: antiquewhite;
}
footer {
    background-color: rgb(117, 205, 240);
    color: rgb(255, 255, 254);
    text-align: center;
    padding: 15px;
}
.menu.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top:20px;
}
.menu-card{
    background-color: aliceblue;
    border-radius:  10px;
    width: 200px;
    padding: 15px;
    box-shadow:0 4px 6px  rgba(0,0,0,3);
}
.menu-card img {
    width:100%;
    border-radius: 10px;
}
.menu-card h3 {
    margin: 10px 0 5px 0;
}
.menu-card p{
    color: cornflowerblue;
    font-weight: bold;
}